<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @curso.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @curso.descripcion %>
</p>

<p>
  <strong>Numero de estudiantes:</strong>
<%= @curso.estudiante.count %>
</p>

<ul>
  <% @curso.estudiante.each do |t| %>
    <li>
    <%= t.nombre %>
    <%= t.app_paterno %> 
    <%= t.app_materno %></li>
  <% end %>
</ul>


<%= link_to 'Editar', edit_curso_path(@curso) %> |
<%= link_to 'Volver', cursos_path %>
