<p id="notice"><%= notice %></p>

<h1>Estudiantes</h1>

<table border= "1">
  <thead>
    <tr>
      <th width="80">Nombre</th>
      <th width="80">App paterno</th>
      <th width="80">App materno</th>
      <th width="50">Curso</th>
      <th width="80" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estudiantes.each do |estudiante| %>
      <tr>
        <td><%= estudiante.nombre %></td>
        <td><%= estudiante.app_paterno %></td>
        <td><%= estudiante.app_materno %></td>
        <td><%= estudiante.curso.nombre %></td>
        <td><%= link_to 'Mostrar', estudiante %></td>
        <td><%= link_to 'Editar', edit_estudiante_path(estudiante) %></td>
        <td><%= link_to 'Eliminar', estudiante, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Estudiante', new_estudiante_path %>
