<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @estudiante.nombre %>
</p>

<p>
  <strong>App paterno:</strong>
  <%= @estudiante.app_paterno %>
</p>

<p>
  <strong>App materno:</strong>
  <%= @estudiante.app_materno %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @estudiante.curso.nombre %>
</p>

<%= link_to 'Editar', edit_estudiante_path(@estudiante) %> |
<%= link_to 'Volver', estudiantes_path %>
